{% extends 'base.html' %}
{% block head %}        
    <title>Sample Page</title>
    <style>
        body{
            font-family: Helvetica;
        }
        #box {
            width: 30%;
            height: 70%;
            min-height: 650px;
            margin: auto;
            background-color: #ff8c69;
            color: #ffffff;
            padding: 25px;
            border-radius: 5px;
            opacity: .9;
        }
        form {
            margin-top: 25px;
            color: white;
        }
        button{
            margin-top: 20px;
        }
        .btn-light {
            background-color: #ffffff;
            color: #ff8c69;
            font-weight: bold;
        }
        .btn-light:hover {
            color: #ffffff;
            background-color: #ff8c69;
            border: #fff 1px solid
        }

    </style>
{% endblock %}

{% block bar %}
<li class="active"><a href="/">Home</a></li>
<li><a href="/events/">Events Data</a></li>
{% endblock %}

{% block body %}

    <div id = box>
        <form action= {% url 'mainPage:index' %} method='post'>
            {% csrf_token %}
                <div class="form-group">
                <label for="email">Name:</label>
                <input class="form-control" id="email" name="name" placeholder="Enter event name">
                </div>
                <div class="form-group">
                <label for="email">Organization:</label>
                <input class="form-control" id="email" name="organization" placeholder="Enter organization name">
                </div>
                <div class="form-group">
                <label for="email">Time:</label>
                <input class="form-control" id="email" name="time" placeholder="Enter time">
                </div>
                <div class="form-group">
                <label for="email">Date:</label>
                <input class="form-control" id="email" name="date" placeholder="Enter date">
                </div>
                <div class="form-group">
                <label for="email">Event Description:</label>
                <input class="form-control" id="email" name="event_description" placeholder="Enter event description">
                </div>
                <div class="form-group">
                <label for="email">Address:</label>
                <input class="form-control" id="email" name="address" placeholder="Enter address">
                </div>
                <div class="form-group">
                <label for="email">Picture URL:</label>
                <input class="form-control" id="email" name="picture_url" placeholder="Enter picture url">
                </div>
                <button type="submit" class="btn btn-light">Submit</button>
            
        </form>

                
                
    </div>

{% endblock %}
